{% extends "layout.html" %}
{% block main %}
    <header id="landing" class="parallax-container row">
        <div class="parallax"><img src="static/images/about/header_background.jpg"></div>
        <img src="static/images/main_logo.svg" height="150" class="hide-on-small-only">
        <img src="static/images/main_logo.svg" height="150" class="col s12 hide-on-med-and-up" style="margin-top: 120px">
    </header>

    <section id="content" class="row container">
        <div class="col s12 m6">
            <img src="static/images/home/content_image.jpg" class="responsive-img materialboxed"
                 data-caption="Sample caption">
        </div>
        <div class="col s12 m6">
            <h1 class="grey-text text-darken-1 right-align">About Us</h1><hr>
            <h4 class="green-text right-align">A sub heading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores cumque debitis, dignissimos
                distinctio dolorum enim fugit hic id, incidunt iusto labore minima nesciunt porro praesentium quam quasi
                qui repudiandae totam, voluptatem! Ab amet, aperiam deleniti dolorum ducimus in itaque magnam magni
                molestias nisi perspiciatis provident quis recusandae reprehenderit repudiandae?</p>
        </div>

    </section>

{% endblock %}