{% extends "layout.html" %}
{% block main %}
    <header id="landing" class="parallax-container row">
        <div class="parallax"><img src="static/images/services/header_background.jpg"></div>
        <img src="static/images/main_logo.svg" height="150" class="hide-on-small-only">
        <img src="static/images/main_logo.svg" height="150" class="col s12 hide-on-med-and-up"
             style="margin-top: 120px">
    </header>

    <section id="content" class="row container">
        <div class="col s12 m6 hide-on-small-only">
            <img class="responsive-img" src="static/images/services/content_image.jpg">
        </div>

        <div id="try" class="col s12 m6 right-align">
            <h1 class="grey-text text-darken-1">Services</h1>
            <hr>
            <h4 class="blue-text text-darken-3">Green, Healthy, Wealthy, Community</h4>
            <p class="green-text text-darken-4 text-flow" style="text-align: justify;">Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Eveniet fugiat harum ratione repudiandae sequi unde vitae. Assumenda
                autem, dicta dignissimos dolore expedita fugiat iure magnam molestiae nesciunt odit sint sunt, voluptas
                voluptates. Adipisci consequuntur dignissimos ex fuga neque quasi vitae! Aspernatur consequuntur ea
                eveniet fugiat incidunt maxime provident quod, recusandae!</p>
        </div>
        <div class="col s12 m6">

        </div>
    </section>

{% endblock %}